name: Deploy to Fly.io
on:
  push:
    branches:
      - main
    paths-ignore: # Ignore changes to non-deployment related files
      - '**.md'
      - .github/settings.yml'
      - .github/dependabot.yml'

jobs:
  deploy:
    name: Deploy app
    concurrency:
      group: deploy
      cancel-in-progress: true
    runs-on: ubuntu-latest
    timeout-minutes: 10
    
    steps:
      - uses: actions/checkout@v6
      
      - uses: superfly/flyctl-actions/setup-flyctl@1.5
      
      - run: flyctl deploy --remote-only
        env:
          FLY_API_TOKEN: ${{ secrets.FLY_API_TOKEN }}